.invisible{
    display: none !important;
}

#snackbar-success {
    background-color: #008035;
    color: #000000;
}

#snackbar-error, .warning{
    background-color: #830000;
    color: #ffffff;
}

.community-icon {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}